.detail{
    display: inline-flex;
    top: 110px;
    background: #FFFFFF; 
  }
  .detail .detail-image{
    position: relative; 
    width: 736px;
    height: 772px;
    margin-left: 35px;
    margin-top: 240px;
    background: #F4F4F2;
  }
  .detail .detail-image .image{
    position: absolute;
    width: 482px;
    height: 464px;
    left: 161px;
    top: 130px;
   
  }
  .detail .detail-image .list-image{
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    width: 482px;
    height: 109px;
    left: 161px;
    top: 630px;
    padding: 0px 0px;
    background: #F4F4F2;
  
  }
    
  .detail .detail-image .item-image{
      border:5px;
      border-radius: 10px;
  }
  .detail .detail-content{
      margin-left: 100px;
  }
  
  .detail-content .btn-back {
      margin-top:370px;
  }
  .detail-content .btn-back a {
    text-decoration: none;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.875px;
    text-transform: uppercase;
    color: #161412;

  }

  .detail-content .detail-name{
    margin-top:30px;
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #161412;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc;
  
  }
  .detail-content .detail-des p{
    width: 600px;
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #65635F;
  }
  .detail-content .detail-price{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    line-height: 32px;
    color: #161412;
    margin-top: 50px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
  }
  .detail-content .quantity-input span{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }
  .detail-content .btn-decrease,
  .detail-content .btn-increase{
    width: 24.17px;
    height: 26px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background: #ED165F;
    color: #FFFFFF;
  }
  .detail-content .detail-number{
      position: relative;
      bottom: 2px;
      width:30px;
      height:20px;
  }
  .detail-content .detail-add-to-cart{
    width:400px;
    height: 40px;
    margin-top:20px;
    background: #161412;
    border-radius: 2px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;

  }
  .detail-content .detail-add-to-cart a {
    font-family: Acme;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
  }